# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
.venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Data files (large datasets - keep local only)
data/**/*.csv
data/**/*.xlsx
data/**/*.json

# report files
data/reports/

# Model files
models/*.h5
models/*.pt
models/*.pth
models/*.pkl

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.bak
temp/
temp_model/
tempo/

# Unrelated projects
go-cursor-help/



# Distribution / ok ckaging
dist/
build/
*.egg-info/
